.row-half {
  height: 7.14%;
}
.row-1 {
  height: 14.28%;
}
.row-2 {
  height: 28.56%;
}
.row-3 {
  height: 42.84%;
}
.row-4 {
  height: 57.12%;
}
.row-5 {
  height: 71.4%;
}
.row-6 {
  height: 85.68%;
}
.row-7 {
  height: 100%;
}
